#day-menu__card {
    width: 250px;
    height: 410px;
    border-radius: 25px;
}

#day-menu__card-content {
    padding: 15px;
}

#day-menu__card-title {
    background-color: #7CCF08;
    text-align: center;
    color: white;
}

.day-menu__service-title {
    text-align: center;
    margin: 0;
}

.day-menu__hr {
    border-top: 1px;
    margin: 15px 0;
}

.day-menu__ul {
    padding: 0;
    list-style: none;
}

.day-menu__li {
    margin: 5px;
}