#dayMenu-card {
    width: 250px;
    height: 410px;
    border-radius: 25px;
}

#card-content {
    padding: 15px;
}

#card-title {
    background-color: #7CCF08;
    text-align: center;
    color: white;
}

.service-title {
    text-align: center;
    margin: 0;
}

hr {
    border-top: 1px;
    margin: 15px 0;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin: 5px;
}